global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['127.0.0.1:9090']

  - job_name: 'docker-metrics-exporter'
    static_configs:
      - targets: ['127.0.0.1:9091']
