version: '3'

services:
  prometheus:
    image: prom/prometheus:latest
    network_mode: host
    ports:
      - 9090:9090
    volumes:
      - prometheus-data:/prometheus
      - ./dev-env/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    volumes:
      - grafana-data:/var/lib/grafana
      - ./dev-env/grafana/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    depends_on:
      - prometheus

volumes:
  prometheus-data:
    driver: local
  grafana-data:
    driver: local
